<h1>{{action}} Schedule</h1>
<div class='slide-toggle-container'>
  <div [formGroup]='form' class='slide-toggle'>
    Single
    <mat-slide-toggle formControlName='isRecurring' color='primary'></mat-slide-toggle>
    Recurring
  </div>
</div>


<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class='expansion-title'>Date</span>
        </mat-panel-title>
        <mat-panel-description>
          <span class='expansion-detail'>{{ getUserFriendlyDate(selectedDateCache)}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-calendar [minDate]='minDate' [(selected)]='calendarDate' (selectedChange)='newDateSelected($event)'>
      </mat-calendar>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class='expansion-title'>Time</span>
        </mat-panel-title>
        <mat-panel-description>
          <span class='expansion-detail'>{{ getUserFriendlyTime(selectedDateCache) }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ngb-timepicker [(ngModel)]="time" (ngModelChange)='newTimeSelected($event)' [meridian]="true"></ngb-timepicker>
    </mat-expansion-panel>


    <mat-expansion-panel [disabled]='!recurringCache'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class='expansion-title'>Days</span>
        </mat-panel-title>
        <mat-panel-description>
          <span class='expansion-detail' *ngIf='recurringCache'>{{ getUserFriendlyDays() }}</span>
          <span class='expansion-detail recurring-disabled' *ngIf='!recurringCache'>None</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section class='day-of-week-selection'>
        <mat-checkbox class="checkbox-margin" *ngFor='let day of weekDay; let i = index' [(ngModel)]='day.checked'>{{ day.name }}</mat-checkbox>
      </section>
      <section class='day-of-week-selection'>
        <mat-checkbox class="checkbox-margin" *ngFor='let day of weekendDay; let i = index' [(ngModel)]='day.checked'>{{ day.name }}</mat-checkbox>
      </section>
      

    </mat-expansion-panel>
  </mat-accordion>
</div>